Source: rfc5766-turn-server
Section: net
Priority: extra
Maintainer: Oleg Moskalenko <mom040267@gmail.com>
Uploaders: Daniel Pocock <daniel@pocock.com.au>
Build-Depends: debhelper (>= 9.0.0), dpkg-dev (>= 1.16.1~), libssl-dev (>= 1.0.0~), libevent-dev (>= 2.0.1~), postgresql-client, libpq-dev, mysql-client, libmysqlclient-dev, libhiredis-dev
Standards-Version: 3.9.3
Homepage: http://code.google.com/p/rfc5766-turn-server/
#Vcs-Git: git://git.debian.org/pkg-voip/rfc5766-turn-server.git
#Vcs-Browser: http://git.debian.org/?p=pkg-voip/rfc5766-turn-server.git;a=summary

Package: rfc5766-turn-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Conflicts: turnserver
Description: server for ICE/STUN/TURN, NAT traversal for VoIP and WebRTC
 Free open source implementation of TURN Server / STUN Server / Network Traffic 
 Gateway The TURN Server is a VoIP media traffic NAT traversal server and 
 gateway. It can be used as a general-purpose network traffic 
 TURN server/gateway, too.
 .
 This implementation also includes some extra features.
 . 
 Supported RFCs:
 TURN specs:
  * RFC 5766 - base TURN specs
  * RFC 6062 - TCP relaying TURN extension
  * RFC 6156 - IPv6 extension for TURN
  * Experimental DTLS support as client protocol.
 STUN specs:
  * RFC 5389 - base "new" STUN specs
  * RFC 5769 - test vectors for STUN protocol testing
  * RFC 5780 - NAT behavior discovery support
 .
 The implementation fully supports UDP, TCP, TLS and DTLS as protocols between
 the TURN client and the TURN Server. Both UDP and TCP relaying are supported.
 .
 Flat files, MySQL or PostgreSQL are supported for the user repository (if 
 authentication is required). 
 Both short-term and long-term credentials mechanisms are supported. 
 For WebRTC applications, TURN Server REST API for time-limited secret-based 
 authentication is implemented.
 .
 The load balancing can be implemented either by external networking tools, 
 or by the built-in ALTERNATE-SERVER mechanism.
 .
 The implementation is supposed to be simple, easy to install and configure. 
 The project focuses on performance, scalability and simplicity. 
 The aim is to provide an enterprise-grade TURN solution.
